body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.chat-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: static;
}

.chat-box {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    max-height: 80%;
    border-bottom: 1px solid #ddd;
}

.chat-message {
    margin: 10px 0;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.chat-message.user {
    align-self: flex-end;
    background-color: #f7b7e9;
    color:black;
    text-align: right;
}

.chat-message.bot {
    align-self: flex-start;
    background-color: #fd9d5e;
    color: black;
    text-align: left;
}

.input-container {
    display: flex;
}

input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

button {
    padding: 10px;
    width: 60px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
